.header {
  display: flex;
  flex-wrap: wrap;
}

.header h1 {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .header h1 {
    width: 100%;
    margin-bottom: 1em;
  }
}

.menu {
  width: 20%;
  padding: 0;
  margin: 0;
}

.menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu a {
  display: block;
  border-radius: 4px;
  padding: 8px 1em;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu a:hover {
  color: var(--color-fg);
}

.menu .active a {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}
