:root {
  --color-fg: #fff;
  --color-bg: #000;
  --color-mid: #666;
  --space: 8px;
  --color-highlight: #29BC9B;
  --color-highlight-active: #AAFFEC;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.011em;
}

h1 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 32px;
  font-weight: normal;
}

a {
  color: var(--color-highlight);
  text-underline-offset: 3px;
  transition: color 0.15s ease-in-out, text-decoration-color 0.15s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-highlight-active);
    text-decoration-color: var(--color-highlight-active);
  }
}

.dash {
  color: var(--color-mid);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 72px auto;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-top: 72px;
}

table thead th {
  text-align: left;
  padding-bottom: calc(var(--space) * 3);
  border-bottom: 1px solid var(--color-fg);
  font-weight: normal;
}

table tbody td {
  padding: calc(var(--space) * 3) 0;
  border-bottom: 1px solid var(--color-fg);
}

table tbody td.column_time {
  width: 1%;
  white-space: nowrap;
}

table tbody td.column_live {
  width: 1%;
  white-space: nowrap;
}

.column-inner {
  padding-right: 16px;
}

table tbody tr:last-child td {
  border-bottom: 0;
}

.mobile-label {
  display: none;
}

.heading_live span {
  visibility: hidden;
}

.live {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.05em;
  position: relative;
  top: -2px;
  color: var(--color-bg);
}

.embed {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.breadcrumb {
  display: flex;
  margin-bottom: calc(4* var(--space));
  font-size: 14px;
}

.raceHeader {
  display: flex;
  margin-bottom: var(--space);
  gap: calc(8 * var(--space));
}

.contributors h3 {
  margin: 0;
  color: var(--color-mid);
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  line-height: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 16px;
  }

  h1 {
    margin-bottom: 0;
  }

  table {
    display: block;
    width: 100%;
    margin-top: 0;
  }

  table thead th {
    display: none;
  }

  table tbody {
    display: block;
    width: 100%;
  }

  table tbody tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-fg);
    margin-top: 32px;
    padding-top: 16px;
  }

  table tbody td.column_players {
    width: 100%;
    order: 1;
  }

  table tbody td.column_live {
    width: 50%;
    order: 0;
    padding-bottom: 0;
  }

  table tbody td.column_time {
    width: 50%;
    order: 2;
  }

  table tbody td.column_channel {
    width: 50%;
    order: 3;
  }

  table tbody td.column_commentary {
    width: 50%;
    padding-right: 16px;
    order: 4;
  }

  table tbody td.column_tracking {
    width: 50%;
    order: 5;
  }

  table tbody td {
    display: block;
    padding: 16px 0;
    width: 100%;
    border-bottom: 0;
  }

  .mobile-label {
    display: block;
    color: var(--color-mid);
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .embed {
    padding-bottom: 70%;
  }

  .breadcrumb {
    /* margin-bottom: calc(2* var(--space)); */
  }

  .raceHeader {
    flex-direction: column;
    margin-bottom: 0;
    gap: calc(4* var(--space));
  }
}
